<!DOCTYPE html> {% load staticfiles %}
<html lang="en">

<head>
    <title>Uganda-Zoo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                    <h4>Uganda-Zoo</h4>
                </a>
            </div>
            <ul class="nav navbar-nav">
                <ul class="nav navbar-nav navbar-right">

                    <h5>
                        <br>
                        <a href="">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <!-- <a href="register">Registration</a>&nbsp;&nbsp;&nbsp;&nbsp; -->
                        <a href="login">login</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <!-- <a href="adm">admin</a> -->
                    </h5>
                </ul>
            </ul>
        </div>
    </nav>
    </div>

    </nav>
    <style>
        body {
            background-image: url('https://m.media-amazon.com/images/S/aplus-media/mg/df34ce11-c9ba-40d5-be56-47a82362a038.jpg');
            background-position: inherit;
            background-repeat: no-repeat;
            background-size: 40cm
        }
    </style>

</body>

</html>