<header>
    <h2 align="center">Welcome to uganda zoo</h2>
    <h3 align="center">----------------------------------</h3>
</header>


<div align="center" class="container">
    <h2>Admin Register</h2>

    <form method="POST">
        {% csrf_token %}
        <table>{{Rform.as_table}}</table>
        <br>
        <center>
            <input type="submit" value="Register" class="btn btn-success">
            <input type='Reset' value="Cancel" class="btn btn-danger">
        </center>
    </form>
</div>



</body>

</html>
<style>
    body {
        background-image: url('https://img.wallpapersafari.com/desktop/1680/1050/32/63/4k8iFA.jpg')
    }
</style>





<html>

<head>
    <style>
        body {
            color: rgb(0, 0, 0);
        }
        
        h1 {
            color: #00FF00;
        }
        
        p {
            color: #1804d1e8
        }
    </style>
</head>

<body>